@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

p{
  font-family: 'Poppins', sans-serif;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
}

img{
  max-width: 100%;
}

.img-intro{
  max-width: 100%;
  justify-content: center;
}

.img-intro2{
  max-width: 70%;
  align-items: center;
  justify-content: center;
  height: auto;
  display: block;
}

.logo{
  max-width: 97px;
}

.nav {
  position: sticky;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  background-color: #80B8B3;
  color: white;
  display: flex;
  align-items: center;
  float: right;
  margin-left: auto;
  padding: 10px 20px;
  }
  
  .nav a {
  color: #fff;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  }
  
  .nav a:hover {
  text-decoration: underline;
  }
  
  .nav_logo {
  margin-right: auto;
  }
  
  .nav_logo img {
  height: 30px;
  }
  
  .nav_menu {
  display: flex;
  align-items: center;
  }

.nav_bar {
    position: sticky;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: #80B8B3;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    width: 100%;
  }

  .pill-button {
    background-color: rgb(245, 125, 178);
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 50px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
  }

  .pill-button-intro {
    background-color: rgb(245, 125, 178);
    color: white; 
    border: none; 
    padding: 2%;
    border-radius: 8px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    justify-content: center;
    font-family: sans-serif, 'Poppins';
  }
  
  .pill-button:hover {
    background-color: #3e8e41; 
  }

  .intro {
    background-color: #80B8B3;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-content: center;
  }

  .h2-intro {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: white;
    justify-content: center;
    padding-top: 15%;
  }


.concepts {
  background-color: #fff;
  color: black;
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, auto);
}

.flags{
  align-items: center;
  grid-template-columns: repeat(10, 1fr);
  display: flex;
}

.concepts__item {
  grid-column: span 4;
  grid-row: span 1;
  padding: 20px;
}


  .what {
    background-color: #fff;
    color: black;
    overflow: hidden;
    grid-template-columns: repeat(12, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10%;
    padding-left: 10%;
    padding-right: 10%;
  } 

  .h2-concept {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: black;
    justify-content: center;
    padding-top: 15%;
  }

  .center{
    align-content: center;
    justify-content: center;
    padding-left: 10%;
    padding-top: .5%;
  }

  .img-lesson1{
    max-width: 100%;
    margin-left: 20%;
  }

  .lesson{
    border-radius: 25px;
    border-style: solid;
    border-color: gray;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .lesson-text{
    overflow: hidden;
    text-align: center;
    align-content: center;
    padding: 10%;
  }

  .lesson-text-gray{
    overflow: hidden;
    text-align: center;
    align-content: center;
    color: gray;
  }

  .lesson-img{
    overflow: hidden;
    text-align: center;
    align-content: center;
    padding-left: 16%;
  }

  .card-container {
    background-image: url('../images/snacklins_nachopattern.png');
    display: flex; 
    flex-wrap: nowrap; 
    justify-content: center; /* horizontally */
  } 

      /* Dailys Styles */
    .dailys-container {
        display: flex;
          justify-content: center;
          align-items: center;
          margin: 10px;
          padding: 2%;
      }

  .dailys {
    max-width: 800px;
    padding: 20px;
    text-align: center;
    background-color: #F0D081;
    border-radius: 10px;
    margin: 10px 0;
    color: white;
  } 

  .dailys2 {
    max-width: 800px;
    padding: 10px 10px;
    text-align: center;
    background-color:#cbe5dc;
    border-radius: 10px;
    margin: 2px;
    color: white;
  } 

  .dailys3 {
    max-width: 800px;
    padding: 10px 10px;
    text-align: center;
    background-color:#cbd6a0;
    border-radius: 10px;
    margin: 2px;
    color: white;
  } 

  .dailys3 img {
    max-width: 8%;
  }
  
  .dailys h2 {
    font-size: 32px;
    margin-bottom: 10px;
  } 
  
  .dailys p {
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
  }

  .dailys button {
    display: block; 
    margin: 10px; 
    background-color: #fff;
    color: #000; 
    border: none;
    padding: 10px 20px; 
    border-radius: 10px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    align-self: center;
    font-family: 'Poppins', sans-serif;
  }

  .dailys button:hover {
    background-color:rgb(245, 125, 178); 
  }

  .button-line{
    padding-left: 18%;
    display: flex;
    flex-direction: row;
  }

  .blocking{
    display: flex;
    flex-direction: row;
    align-content: center;
  }

  .stacked{
    display: flex;
    flex-direction: column;
  }


     /* Vocab Styles */
  .section-h1{
    padding: 0% 2%;
  }

  .section-p{
    padding: 1.5% 4%;
  }

  .titles{
    align-content: center;
    float: inline-start;
    display: flex;
    flex-direction: row;
  }

  .card {
    margin: 2px; 
    background-color: white;
    border-radius: 10px; 
    border-style: solid;
    border-width: 2.5px;
    border-color: #D9D9D9;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    flex-basis: calc(33.33% - 20px);
    margin: 0 2%;
    box-sizing: border-box;
    text-align: center;
  }
  
  .card img {
    margin: 0 5%;
    width: 100%; 
    height: 200px; 
    object-fit: contain; 
    margin: 0 5%;
    padding-top: 20px;
  }
  
  .card h3 {
    margin: 5px;
  }
  
  .card p {
    margin: 10px; 
  }
  
  .card button {
    display: block; 
    margin: 10px; 
    background-color: #80B8B3;
    color: white; 
    border: none;
    padding: 10px 20px; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    align-self: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .card button:hover {
    background-color:rgb(245, 125, 178); 
  }

  /* Grammar Styles */
  .card2 {
    margin: 2px; 
    background-color: white;
    border-radius: 10px; 
    border-style: solid;
    border-width: 2.5px;
    border-color: #D9D9D9;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    flex-basis: calc(33.33% - 20px);
    margin: 0 2%;
    box-sizing: border-box;
    text-align: center;
  }
  
  .card2 img {
    margin: 0 5%;
    width: 100%; 
    height: 200px; 
    object-fit: contain; 
    margin: 0 5%;
    padding-top: 20px;
  }
  
  .card2 h3 {
    margin: 5px;
  }
  
  .card2 p {
    margin: 10px; 
  }

  .card2 button{
    display: block; 
    margin: 10px; 
    background-color:#cbe5dc;
    color: white; 
    border: none;
    padding: 10px 20px; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    align-self: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .card2 button:hover {
    background-color:rgb(245, 125, 178); 
  }

   /* Story Styles */
  .card3 {
    margin: 2px; 
    background-color: white;
    border-style: none;
    border-color: #D9D9D9;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
    flex-basis: calc(33.33% - 20px);
    margin: 0 2%;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
  }
  
  .card3 img {
    margin: 0 5%;
    width: 100%; 
    object-fit: fill;
    margin: -5% 5%;
  }
  
  .card3 h3 {
    margin: -5px;
  }
  
  .card3 p {
    margin: 10px; 
  }

  .card3 button{
    display: block; 
    margin: 10px; 
    background-color:#cbe5dc;
    color: white; 
    border: none;
    padding: 10px 20px; 
    border-radius: 25px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
    align-self: center;
    font-family: 'Poppins', sans-serif;
  }
  
  .card3 button:hover {
    background-color:rgb(245, 125, 178); 
  }

  .shop {
    margin-top: 5px; /* should match height of nav bar */
    border-radius: 5px;
    width: 100%;
    position: relative; /* add relative positioning */
  }

  .wrapper1 {
    display: flex; 
    padding: 2;
  }

/* Media Queries for larger screens than 768px */
@media screen and (min-width: 48rem) {

  .col-span-2 {
      grid-column: span 2;
  }
  .col-span-3 {
      grid-column: span 3;
  }
  .col-span-4 {
      grid-column: span 4;
  }
  .col-span-5 {
      grid-column: span 5;
  }
  .col-span-6 {
      grid-column: span 6;
  }
  .col-span-7 {
      grid-column: span 7;
  }
  .col-span-8 {
      grid-column: span 8;
  }
  .col-span-9 {
      grid-column: span 9;
  }
  .col-span-10 {
      grid-column: span 10;
  }
}

/* Closes the media query *//* Closes the media query */